.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    color: var(--secondary-color);
}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-color);
    text-align: center;
}

.subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.subtitle-theme-dark {
    margin-bottom: 20px;
    color: var(--main-light-color);
}